body {
    background-color: #888;
}
p {
    padding: 0px;
    margin: 0px;
}
input {
    text-align: center;
}
/*remove arrow from chrome*/
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0px;
}
/*remove arrow from mozila*/
input[type=number] {
    -moz-appearance: textfield;
}


.character-info, .character-ability {
    margin: 5px 0px;
}

/*Character Info Area*/
.character-info {
    display: flex;
    width: 100%;
    padding: 1px;

    border: 1px solid #000;
}
.character-info1, .character-level, .character-info2 {
    margin: 1px;

    text-align: center;
}
.character-name, .character-class, .character-race, .character-background {
    margin: 5px 0px;
}
.character-info1, .character-info2 {
    display: block;
    width: 45%;

    border: 1px solid #000;
}
.character-level {
    display: block;
    width: 10%;

    text-align: center;

    border: 1px solid #000;
}
.character-level-title {
    position: relative;
    margin: 5px auto ;
}
/*O quadrado on nivel aparece*/
.character-level-number {
    display: block;
    height: 50px;
    width: 50px;
    margin: -5px auto;

    text-align: center;
    line-height: 50px;

    background-color: #fff;
}

/**/
.character-name, .character-class, .character-race, .character-background {
    display: block;
    width: 100%;
}
.info-input {
    width: 90%;
}
.info2-option-display {
    display: none;
    position: absolute;
    right:5%;
    width: 35%;
    
    background-color: aqua;
}
/*A lista de classes para colocar os niveis*/
.character-class-list {
    display: none;
    position: absolute;

    padding: 7px 10px;

    border-radius: 10px;
    border-top-left-radius: 0px;
    background-color: pink;
}
.character-class-list input {
    height: 15px;
    width: 15px;
}
.character-race-list {
    height: 23px;
    width: 90%;
}

/*Ability Score stats*/
.character-ability, .character-ability-score {
    width: 100%;

    border: 1px solid #000;
}
.character-ability {
    display: flex;
    padding: 1px;
    
    text-align: center;
    align-content: center;
}
.character-ability-score {
    margin: 1px;
}
.character-ability-number {
    display: block;
    height: 25px;
    width: 25px;
    margin: auto;

    text-align: center;
    line-height: 25px;

    background-color: #fff;
}

/*character sheet -> bonus, hp, features*/
.character-sheet {
    width: 100%;
    display: flex;
    
    justify-content: space-between;
}

/*Bonus Tab*/
.character-bonus {
    display: block;
    width: 25%;
    margin-right: 1px ;

    border: 1px solid #000;
}
/*block of the tab*/
.character-proficiency, .character-save, .character-skill {
    border: 1px solid #000;
    margin: 2px;
    padding: 2px;
}
.character-proficiency {
    display: flex;
}
/*title of the tab*/
.character-bonus-title {
    margin: 1px 3px;
}
/*list of items of the tab*/
.character-skill-list, .character-save-list {
    display: block;
    width: 95%;
    border: 1px solid #000;

    margin: 0px 0px 0px 3%;
}
/*line of items*/
.character-bonus-line {
    display: flex;
    width: 100%;
    margin: 2px 3px;
}
/*Item bonus*/
.character-bonus-value {
    width: 20px;
    padding: 0px 3px;
    margin: auto 5px auto 0px;

    line-height: 20px;
    text-align: center;
    font-size: 15px;

    background-color: #666;
    border-radius: 5px;
}
/*Window with proficiency*/
.proficiency-list {
    display: none;
}

.bonus-on, .bonus-off {
    height: 5px;
    width: 5px;
    margin: auto;
}
.character-stats {
    display: block;
    width: 50%;
    margin: 0px 1px;

    border: 1px solid #000;
}
.character-stats-extra, .character-stats-hp {
    display: flex;

    align-content: center;
}
.character-stats-ac, .character-stats-iniciative, .character-stats-speed, .character-stats-hp-max, .character-stats-hp-dices {
    display: block;
    width: 100%;
    margin: 2px;

    text-align: center;
    
    border: 1px solid #000;
}
.character-stats-actions, .character-stats-equipment, .character-stats-equipment-item {
    display: block;
    margin: 2px;

    text-align: center;

    align-content: center;
    border: 1px solid #000;
}
.character-stats-actions table {
    width: 100%;
}
.character-stats-actions th, .character-stats-actions td {
    border: 1px solid #000;
}

/*features*/
.character-feature {
    display: block;
    width: 25%;
    margin-left: 1px;

    border: 1px solid #000;
}
.character-feature-item, .character-feature-item-desc {
    display: block;
    margin: 2px;
    
    border: 1px solid #000;
}
.character-feature-item-desc p, .character-feature-item-desc li {
    margin: 3px;

    font-size: 12px;
}